<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @player.name %><br/>
  Games Played:
  <%= PlayerResult.where(player: @player).games_played %><br/>
  Wins:
  <%= PlayerResult.where(player: @player).wins %><t/>
  Overall Win Rate:
  <%= number_with_precision(((PlayerResult.where(player: @player).wins.to_f / PlayerResult.where(player: @player).games_played.to_f) * 100), precision: 2) unless (PlayerResult.where(player: @player).games_played == 0) %> %<br/>
  Losses:
  <%= PlayerResult.where(player: @player).losses %><t/>
  Overall Loss Rate:
  <%= number_with_precision(((PlayerResult.where(player: @player).losses.to_f / PlayerResult.where(player: @player).games_played.to_f) * 100), precision: 2) unless (PlayerResult.where(player: @player).games_played == 0) %> %<br/> 
  <h2>Recent Opponents:</h2>
  <table>
	  <thead>
	    <tr>
	      <th>Opponents</th>
	      <th>Games Played</th>
	      <th>Wins Against This Opponent</th>
	      <th>Win Rating</th>
	      <th>Losses Against This Opponent</th>
	      <th>Loss Rating</th>
	    </tr>
	  </thead>

	  <tbody>
	    <% @all_opponents.each do |opponent| %>
	      <tr>
	        <td><%= link_to opponent.name, opponent %></td>
	        <td><%= PlayerResult.where(player: @player).against(opponent).games_played %></td>
	        <td><%= PlayerResult.where(player: @player).against(opponent).wins %></td>
	        <td><%= ((PlayerResult.where(player: @player).against(opponent).wins.to_f / PlayerResult.where(player: @player).against(opponent).games_played.to_f) * 100) unless (PlayerResult.where(player: @player).against(opponent).games_played == 0) %> %</td>
	        <td><%= ((PlayerResult.where(player: @player).against(opponent).losses.to_f / PlayerResult.where(player: @player).against(opponent).games_played.to_f) * 100) unless (PlayerResult.where(player: @player).against(opponent).games_played == 0) %> %</td>
	      </tr>
	    <% end %>
	  </tbody>
  </table>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %> <%= link_to 'Home', players_path %> 
