<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @player.name %><br/>
  Games Played:
  <%= @player_games_played %><br/>
  Wins:
  <%= @player_wins %><t/>
  Overall Win Rate:
  <%= @player_overall_win_rate %> %<br/>
  Losses:
  <%= @player_losses %><t/>
  Overall Loss Rate:
  <%= @player_overall_loss_rate %> %<br/>

  <!-- <h2>Win/Loss Rate Since Player Registered:</h2> -->
  <%#= line_chart (PlayerResult.where(playerid: @player.id).map { |result| {name: result.won, data: result.feats.linegraph}}) %>

  <h2>Win Rate Since Player Registered:</h2>
  <%= line_chart (PlayerResult.where(playerid: @player.id).linegraph_wins) %>

  <h2>Loss Rate Since Player Registered:</h2>
  <%= line_chart (PlayerResult.where(playerid: @player.id).linegraph_losses) %>

  <h2>All Opponents:</h2>
  <table>
	  <thead>
	    <tr>
	      <th>Opponents</th>
	      <th>Games Played</th>
	      <th>Wins Against This Opponent</th>
	      <th>Win Rating</th>
	      <th>Losses Against This Opponent</th>
	      <th>Loss Rating</th>
	    </tr>
	  </thead>

	  <tbody>
	    <% @all_opponents.each do |opponent| %>
	      <tr>
	        <td><%= link_to opponent.name, opponent %></td>
	        <td><%= PlayerResult.where(player: @player).against(opponent).games_played %></td>
	        <td><%= PlayerResult.where(player: @player).against(opponent).wins %></td>
	        <td><%= ((PlayerResult.where(player: @player).against(opponent).wins.to_f / PlayerResult.where(player: @player).against(opponent).games_played.to_f) * 100) unless (PlayerResult.where(player: @player).against(opponent).games_played == 0) %> %</td>
	        <td><%= ((PlayerResult.where(player: @player).against(opponent).losses.to_f / PlayerResult.where(player: @player).against(opponent).games_played.to_f) * 100) unless (PlayerResult.where(player: @player).against(opponent).games_played == 0) %> %</td>
	      </tr>
	    <% end %>
	  </tbody>
  </table>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %> <%= link_to 'Home', players_path %> 
